<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageos_extension_directory>
            <general>
                <mode>direct</mode>
            </general>
        </mageos_extension_directory>
    </default>
</config>
