<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageos_extension_directory>
            <general>
                <enabled>1</enabled>
                <base_url>https://rhoerr.github.io/mage-os.directory</base_url>
                <feed_mode>proxy</feed_mode>
                <bundle_source>bundled</bundle_source>
                <cache_ttl>3600</cache_ttl>
                <http_timeout>10</http_timeout>
            </general>
        </mageos_extension_directory>
    </default>
</config>
