<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../../../vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="MageOS_ExtensionDirectory">
            <directory>Test</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../../../src/Controller</directory>
            <directory suffix=".php">../../../src/Model</directory>
            <directory suffix=".php">../../../src/ViewModel</directory>
        </include>
    </source>
</phpunit>
