<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mageos_directory" frontName="mageos_directory">
            <module name="MageOS_ExtensionDirectory" before="Magento_Backend"/>
        </route>
    </router>
</config>
